@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(185, 75%, 39%);
    background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

.container {
    margin: auto;
    text-align: center;
}

.wrapper {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin: 1rem;
    max-width: 420px;
}

#victor {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -52px;
}

h2 {
    font-size: 22px;
}

h2 span {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

p {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    font-size: 15px;
}

.stat-box {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid  hsla(227, 10%, 46%, 0.4);
    margin-top: 50px;
    padding: 30px 40px;
}

.stat-box h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}